body {
  background-color: #fff; }

/* CSS TABLE OF CONTENTS *

#GLOBAL CSS
    #BODY
    #TYPOGRAPGY
    #LINKS  
*/
/*BODY */
body {
  font-family: 'adobe-caslon-pro', serif;
  font-size: 100%;
  line-height: 1.4; }

/* HEADINGS */
h1, h2, h3 {
  margin: .5em 0; }

h1 {
  font-size: 3em;
  line-height: 1em; }

h2 {
  font-size: 2em;
  line-height: 1.1em; }

h3 {
  font-size: 1.5em;
  line-height: 1.2em; }

p {
  max-width: 35em; }

/* Horizontal Rule*/
hr {
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
  margin: 3em 0; }

/* TYPE SPECIMEN  */
.mainhead {
  font-size: 6em;
  color: #ff9900;
  margin-bottom: 0; }

.subhead {
  font-family: "Roboto";
  color: black;
  margin-bottom: 1em; }

/* BUTTONS */
button,
.button {
  font-size: inherit;
  font-family: "Roboto";
  background-color: #069;
  line-height: 1;
  color: #fff;
  padding: 1em;
  display: inline-block;
  margin: .5em;
  border-radius: .5em;
  border: 1px solid #069;
  cursor: pointer; }
  button:hover,
  .button:hover {
    background-color: #064768;
    color: #fff;
    border-color: #064768; }
  button.alt,
  .button.alt {
    background-color: #fff;
    color: #064768; }
    button.alt:hover,
    .button.alt:hover {
      background-color: #064768;
      color: #fff;
      border-color: #064768; }

img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 87.5%;
  margin: 0; }

.container {
  padding: 0 4%;
  margin: 0 auto; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 768px) and (min-width: 1050px) {
  .container {
    max-width: 1050px -50; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; } }

/* GRID */
.row {
  padding: 1% 0; }
  .row .column {
    margin-bottom: 2%; }

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .column {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1%; } }

.row.demo .column {
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5em;
  text-align: center; }
