// VARIABLES
$bodybackground: rgb(170, 218, 226);
$body-fontfamily: 'adobe-caslon-pro';
$color-accent: red;
$color-midgrey: rgba(0,0,0,5);

body {
    background-color: $bodybackground; 

}
// IMPORT PARTIALS
@import "partials/toc"; 
@import "partials/typography"; 